body{
    min-height: 100vh;
    font-family:Arial, Helvetica, sans-serif; 
}

section.wrapper{
    text-align: center;
}
canvas {
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
}

.button {
    background-color: #000000;
    border: none;
    box-shadow: 0 9px #505050;
    padding: 30px;
    text-align: center;
    font-size: 28px;
}

.button:hover {
    background-color: #3f3f3f;
}

.button:active {
    box-shadow: 0 5px #3d3d3d;
    transform: translateY(5px);
}

.pressed {
    box-shadow: 0 5px #3d3d3d;
    transform: translateY(5px);
}

.red {
    color: #ff0000;
}

.green {
    color: #00ff00;
}

.blue {
    color: #0000ff;
}

.yellow {
    color: #ffff00;
}

.round {
    border-radius: 50%;
}

div#modal{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: visible; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  